setuptools>=68.0.0
wheel>=0.40.0
apscheduler==3.10.1
chromadb>=0.4.22,<0.5.0
transformers>=4.51.3
torch>=2.1.0
numpy>=1.26.0,<2.0.0
pymongo==4.6.1
sentence-splitter==1.4
tweepy==4.14.0 
snscrape==0.7.0.20230622
python-dateutil>=2.8.2
einops>=0.8.1